@import "tailwindcss";

@theme {
  --color-secondary: var(--color-blue-400);
  --color-muted: var(--color-neutral-400);

  --animate-end-to-end: end-to-end 3s ease-in-out alternate infinite;
  @keyframes end-to-end {
    0% {
      left: 0%;
    }

    100% {
      left: calc(100% - 5px);
    }
  }
}

/*
  TailwindV4 no longer has a "container" class with responsive padding
  https://github.com/tailwindlabs/tailwindcss/issues/13129#issuecomment-2474279153
*/
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 1rem;
  }

  @variant md {
    padding-inline: 5rem;
  }

  @variant lg {
    padding-inline: 10rem;
  }

  @variant xl {
    padding-inline: 20rem;
  }
}

@utility standout-text-colour {
  @apply text-black dark:text-white;
}

@utility title {
  @apply standout-text-colour text-2xl font-medium;
}

@utility subtitle {
  @apply standout-text-colour font-medium;
}

* {
  @apply md:overscroll-none;
}

html {
  @apply text-neutral-600 dark:bg-[#0E1012] dark:text-zinc-300/90;
}

h2 {
  @apply title;
}

h3 {
  @apply subtitle;
}

strong {
  @apply font-bold;
}

p,
ul,
ol {
  @apply leading-8;
}

ul {
  @apply list-inside list-disc;
}

ol {
  @apply list-inside list-decimal;
}

#note {
  a {
    @apply text-secondary after:content-["_\2197"];
  }

  blockquote {
    @apply text-muted border-secondary border-x p-4 text-center;
  }

  :not(pre) > code {
    @apply bg-neutral-100 px-1 py-0.5 text-xs dark:bg-neutral-800;
  }

  /* Styling changes for the astro-expressive-code plugin */

  figure {
    @apply shadow-none;

    pre {
      @apply rounded-none border-none bg-neutral-100 dark:bg-neutral-800/25;

      code {
        @apply leading-8;
      }
    }
  }

  figcaption {
    @apply bg-none;

    &::before {
      @apply border-none;
    }

    .title {
      @apply text-muted rounded-none border-none bg-neutral-100 text-xs dark:bg-neutral-800/25;

      &::after {
        @apply border-none;
      }
    }
  }
}
