@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/inter-variable.ttf");
}

@theme {
  --color-secondary: var(--color-blue-400);
  --color-muted: var(--color-neutral-400);

  --animate-end-to-end: end-to-end 3s ease-in-out alternate infinite;
  @keyframes end-to-end {
    0% {
      left: 0%;
    }

    100% {
      left: calc(100% - 5px);
    }
  }
}

/*
  TailwindV4 no longer has a "container" class with responsive padding
  https://github.com/tailwindlabs/tailwindcss/issues/13129#issuecomment-2474279153
*/
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 1rem;
  }

  @variant md {
    padding-inline: 5rem;
  }

  @variant lg {
    padding-inline: 10rem;
  }

  @variant xl {
    padding-inline: 20rem;
  }
}

@utility dotted-background {
  background-size: 20px 20px;
  background-position: center;
  background-attachment: fixed;

  @variant dark {
    background-image: radial-gradient(
      circle at 1px 1px,
      var(--color-neutral-800) 1px,
      transparent 0
    );
  }

  @variant not-dark {
    background-image: radial-gradient(
      circle at 1px 1px,
      var(--color-neutral-300) 1px,
      transparent 0
    );
  }
}

@utility standout-text-colour {
  @apply text-black dark:text-white;
}

@utility title {
  @apply standout-text-colour text-2xl font-medium;
}

@utility subtitle {
  @apply standout-text-colour text-lg font-medium underline underline-offset-6;
}

html {
  @apply font-[Inter] text-neutral-600 md:overscroll-none dark:bg-black dark:text-zinc-300/90 dark:antialiased;
}

h2 {
  @apply title;
}

h3 {
  @apply subtitle;
}

strong {
  @apply font-semibold;
}

p,
ul,
ol {
  @apply leading-8;
}

ul {
  @apply list-inside list-disc;
}

ol {
  @apply list-inside list-decimal;
}

#note {
  a {
    @apply text-secondary after:content-["_\2197"];
  }

  img {
    @apply w-full rounded;
  }

  blockquote {
    @apply border-secondary bg-secondary/10 text-muted rounded-r border-l-2 pl-4 text-sm;
  }

  :not(pre) > code {
    @apply text-muted rounded bg-neutral-100 px-1 py-0.5 text-xs dark:bg-neutral-800;
  }

  /* Styling changes for the astro-expressive-code plugin */

  figure {
    @apply shadow-none;

    pre {
      @apply rounded border-none bg-neutral-100 dark:bg-neutral-800/25;

      code {
        @apply leading-8;
      }
    }
  }

  figcaption {
    @apply bg-none;

    &::before {
      @apply border-none;
    }

    .title {
      @apply text-muted w-full border-none bg-transparent text-center text-xs;

      &::after {
        @apply border-none;
      }
    }
  }
}
